@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-color: transparent; /* 2 */
}

@layer components {
  .app-hover {
    @apply  transition duration-200 hover:bg-cc-border-main/50 active:bg-cc-border-main/90;
  }
  .app-transition {
    @apply transition duration-200
  }
  .dropdown-button {
    @apply flex w-full cursor-pointer items-center justify-between rounded border hover:border-cc-content-main/30 border-cc-border-main px-4 py-2 hover:bg-cc-content-main/5 transition duration-200;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --color-bkg: 250 250 250;
    --color-bkg-compliment: 255 255 255;
    --color-content-main: 12 12 12;
    --color-content-sub: 45 45 45;
    --color-primary: 85 161 255;
    --color-primary-deep: 10 118 196;
    --color-red: 255 59 59;
    --color-green: 29 209 161;
    --color-border: 231 234 235;
    --color-input-bg: 243 244 246;
    --color-input-text: 00 00 00;
    --color-scrollbar: 113, 128, 147;

    --color-sidebar-selected-bg: 246 248 250;
    /* TODO: add a proper hover color not same as above */
    --color-sidebar-selected-bg-hover: 246 248 250;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* light mode - same with the above */
  :root[data-theme="light"] {
    --color-bkg: 250 250 250;
    --color-bkg-compliment: 255 255 255;
    --color-content-main: 12 12 12;
    --color-content-sub: 45 45 45;
    --color-primary: 85 161 255;
    --color-primary-deep: 10 118 196;
    --color-red: 255 59 59;
    --color-green: 29 209 161;
    --color-border: 231 234 235;
    --color-input-bg: 243 244 246;
    --color-input-text: 00 00 00;
    --color-scrollbar: 113, 128, 147;
    --color-sidebar-selected-bg: 246 248 250;
    --color-sidebar-selected-bg-hover: 246 248 250;
  }
  /* dark mode - same with the below */
  :root[data-theme="dark"] {
    --color-bkg: 27 30 33;
    --color-bkg-compliment: 24 27 30;
    --color-content-main: 255 255 255;
    --color-content-sub: 245 245 245;
    --color-border: 40 46 52;
    --color-input-bg: 43 45 49;
    --color-input-text: 255 255 255;
    --color-scrollbar: 73 74 78;

    --color-sidebar-selected-bg: 34 40 46;
    --color-sidebar-selected-bg-hover: 41 47 54;
  }
  @media (prefers-color-scheme: dark) {
    /* same with the above dark mode */
    :root {
      --color-bkg: 27 30 33;
      --color-bkg-compliment: 24 27 30;
      --color-content-main: 255 255 255;
      --color-content-sub: 245 245 245;
      --color-border: 40 46 52;
      --color-input-bg: 43 45 49;
      --color-input-text: 255 255 255;
      --color-scrollbar: 73 74 78;

      --color-sidebar-selected-bg: 34 40 46;
      --color-sidebar-selected-bg-hover: 41 47 54;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 6px;
}
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-scrollbar));
  opacity: .4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-scrollbar));
  opacity: .8;
  border-radius: 10px;
}