@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*,
::before,
::after {
  border-color: transparent; /* 2 */
}

@layer base {
  :root {
    --color-bkg: 250 250 250;
    --color-bkg-compliment: 255 255 255;
    --color-content-main: 12 12 12;
    --color-content-sub: 45 45 45;
    --color-primary: 85 161 255;
    --color-primary-deep: 10 118 196;
    /* --color-border: 240 244 245; */
    --color-border: 231 234 235;
    --color-input-bg: 243 244 246;
    --color-input-text: 00 00 00;
  }
  /* :root[data-theme="light"] {
    --color-bkg: 255 255 255;
    --color-bkg-compliment: 245 245 245;
    --color-content-main: 12 12 12;
    --color-content-sub: 45 45 45;
    --color-border: 240 244 245;
  } */
  :root[data-theme="dark"] {
    --color-bkg: 27 30 33;
    --color-bkg-compliment: 24 27 30;
    --color-content-main: 255 255 255;
    --color-content-sub: 245 245 245;
    --color-border: 42 42 42;
    --color-input-bg: 43 45 49;
    --color-input-text: 255 255 255;
  }
  /* @media(prefers-color-scheme: dark) {
    :root {
      --color-bkg: 1 1 1;
      --color-bkg-compliment: 26 26 26;
      --color-content-main: 255 255 255;
      --color-content-sub: 242 242 242;
    }
  } */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}